@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

#root,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.app {
    height: 100vh;
    background: url('./images/pexels-photo-7283618.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;
}

.box {
    height: 200px;
    width: 100%;
    text-align: center;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    font-size: 50px;
}

.btn {
    border: none;
    background: transparent;
    font-size: 25px;
    border-radius: 90px;
    padding: 20px;
    background-color: black;
    color: white;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.1s ease-in-out;
}

.btnhead {
    font-family: sans-serif;

}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    .box {
        width: 80%;
        height: 30%;
    }

    .btn {
        padding: 10px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 250px) {
    .box {
        width: 30%;
        height: 20%;
    }

    .btn {
        /* padding: 10px; */
        font-size: 15px;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}